* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

.form-container {
    background-color: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 800px;
    max-height: 90vh;
    overflow-y: auto;
}

h1,
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333333;
    background-color: #fafafa;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #3f51b5;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* button:hover {
    background-color: #303f9f;
} */

.add-subscription-btn {
    background-color: #28a745;
    margin-top: 10px;
    margin-bottom: 15px;
}

.subscription-group {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

.subscription-group .form-group {
    margin-bottom: 10px;
}

.subscription-group .remove-subscription-btn {
    background-color: #dc3545;
    margin-top: 10px;
    display: inline-block;
}

.hidden {
    display: none;
}

.table-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* width: 80%; */
}

/* Specific styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

}

th,
td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: lightgreen;
    color: black;

}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-row {
    font-weight: bold;
}

.subscription-row {
    background-color: #f9f9f9;
}

.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ff0000;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn:hover {
    color: darkred;
}

.delete-btn:focus {
    outline: none;
    /* Add this line */
}

.delete-btn i {
    font-size: 18px;
}

.subscription-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}